<p>
  Hello Arapahoe County staff!
</p>

<p>
  A new change report was just completed online at <%= root_url %>. You'll find it attached.
</p>

<p>
  Thank you as always for your feedback on this new process. Let us know what is working, and what can be improved! Reach out with ideas or issues anytime by replying to this email.
</p>

<p>
  Best,
  <br>
  Sharon Langevin, Code for America
  <br>
  <%= root_url %>
</p>
