<p>
  Hello, here is a copy of your reported change.
</p>

<p>
  Let us know if you have any feedback about this website or ideas for how we can make reporting changes even easier. Just reply to this email.
</p>

<p>
  Best,
  <br>
  Sharon Langevin, Code for America
  <br>
  <%= root_url %>
</p>
