<p>
  Hello,
<br />
  Here is a copy of the Change Report you submitted. Arapahoe County will use your report to see if your household benefits change. If they do, you’ll be notified. Let us know if you have any feedback about this website or ideas for how we can make reporting changes even easier. Just reply to this email.
</p>

<p>
  Best,
  <br />
  Sharon Langevin, Code for America
  <br />
  <%= root_url %>
</p>
