<% content_for(:template_name) { "homepage" }  %>

<section class="slab--hero-<%= rand(1..3) %> slab slab--hero">
  <div class="hero--cta-options text--centered">
    <h1>
      Report job changes to your Food Assistance (Food Stamps) case
    </h1>

    <% if GateKeeper.feature_enabled?("PRE_LAUNCH") %>
      <button class="button button--large button--cta" disabled>Start my report <i class="button__icon icon-arrow_forward"></i></button>
      <p>Coming soon — check back!</p>
    <% else %>
      <%= link_to screen_path(FormNavigation.first) do %>
        <button class="button button--large button--cta">Start my report <i class="button__icon icon-arrow_forward"></i></button>
      <% end %>
      <p>It only takes 10 minutes</p>
    <% end %>

  </div>
</section>


<section class="slab slab--white">
  <div class="grid">
    <div class="grid__item text--small width-seven-twelfths">
      <p class="h3">
        If your income rises by a certain amount you need to report the change to your Food Assistance case. If your income falls, you may be eligible for more benefits.
      </p>
      <p class="h3">
        <% unless GateKeeper.feature_enabled?("PRE_LAUNCH") %>
          <%= link_to 'Start your report', screen_path(FormNavigation.first) %> now.
        <% end %>
        We’ll guide you through the process with simple step-by-step directions.
      </p>
    </div>
    <div class="grid__item width-one-fourth shift-one-sixth trust-badge">
      <%= image_tag("arapahoe.jpg") %>
      <p class="text--small">In partnership with the Colorado Department of Human Services and Arapahoe County.</p>
    </div>
  </div>
</section>

<section class="slab slab--off-white">
  <div class="grid">
    <div class="grid__item text--small width-one-third center">
      <div class="emoji emoji--med emoji--memo"></div>
      <p class="text--small with-padding-small"><strong>Fill out</strong> a form about the change and provide proof.</p>
    </div>
    <div class="grid__item text--small width-one-third center">
    <div class="emoji emoji--med emoji--card-file-box"></div>
      <p class="text--small with-padding-small">The <strong>county reviews</strong> your case and figures out if your benefits need to change.</p>
    </div>
    <div class="grid__item text--small width-one-third center">
      <div class="emoji emoji--med emoji--envelope-with-arrow"></div>
      <p class="text--small with-padding-small">You <strong>get a letter</strong> in the mail telling you if your benefits will change.</p>
    </div>
  </div>
</section>

