<% content_for(:template_name) { "homepage" }  %>

<section class="slab--hero-<%= rand(1..3) %> slab slab--hero">
  <div class="hero--cta-options text--centered">
    <h1>
      Leave a job? Report the change to your Food Stamps case
    </h1>
    <%= link_to '#' do %>
      <button class="button button--small button--cta">Start my report <i class="button__icon icon-arrow_forward"></i></button>
    <% end %>
    <p class="text--small">
      It only takes 10 minutes
    </p>
  </div>
</section>


<section class="slab slab--white">
  <div class="grid">
    <div class="grid__item text--small width-seven-twelfths">
      <p class="h3">
        If you stopped working at a job, you may be eligible for more food assistance benefits. This includes quitting, being laid off, fired, or leaving for any other reason.
      </p>
      <p class="h3">
        <%= link_to 'Start your report', '#' %> now. We’ll guide you through the process with simple step-by-step directions.
      </p>
    </div>
    <div class="grid__item width-one-fourth shift-one-sixth trust-badge">
      <p>We're very official.</p>
    </div>
  </div>
</section>
