<% content_for :card_title, "ReportChangesColorado is closed" %>

<% content_for :card_body do %>
  <p>If need submit a change report in Colorado, use the PEAK website. If you're interested in learning more about our efforts, we've collected our insights on an annotated demo site.</p>
  <p>Thank you to all clients and staff who participated in the pilot!</p>

  <a class="button button--cta" href="https://coloradopeak.secure.force.com">Go to PEAK</a>
  <a class="button" href="https://demo.reportchangescolorado.org">Open demo site</a>
<% end %>
