<% content_for(:template_name) { "homepage" }  %>

<section class="slab--hero-<%= rand(1..3) %> slab slab--hero">
  <div class="hero--cta-options text--centered">
    <h1>
      Report job changes to your Food Assistance (Food Stamps) case
    </h1>

    <%= link_to screen_path(FormNavigation.first) do %>
      <button class="button button--large button--cta">Start my report <i class="button__icon icon-arrow_forward"></i></button>
    <% end %>

    <p>It only takes 10 minutes</p>
  </div>
</section>


<section class="slab slab--white">
  <div class="grid">
    <div class="grid__item text--small width-seven-twelfths">
      <p class="h3">
        If you stopped working at a job, you may be eligible for more food assistance benefits. This includes quitting, being laid off, fired, or leaving for any other reason.
      </p>
      <p class="h3">
        <%= link_to 'Start your report', screen_path(FormNavigation.first) %> now. We’ll guide you through the process with simple step-by-step directions.
      </p>
    </div>
    <div class="grid__item width-one-fourth shift-one-sixth trust-badge">
      <a href="https://www.colorado.gov/cdhs" class="illustration illustration--co_cdhs">CDHS</a>
      <p class="text--small">In partnership with the Colorado Department of Human Services</p>
    </div>
  </div>
</section>
