<% content_for :card_illustration do %>
  <div class="emoji emoji--big emoji--white-heavy-check-mark"></div>
<% end %>
<% content_for :card_title, "Great, it looks like you live in Arapahoe County." %>