<% content_for :card_title, "May we contact you via text message to learn about your experience using this tool?" %>
<% content_for :card_help, "All official notices about your case will continue to be sent via mail or e-notice." %>

<% content_for :card_body do %>
    <p>We'll send text messages to <%=  formatted_phone_number(current_report.submitter.phone_number) %>.</p>
    <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
      <%= f.cfa_radio_set :consent_to_sms,
        label_text: "May we contact you via text message to learn about your experience using this tool?",
        legend_class: "sr-only",
        collection: [
          { value: :yes, label: "Yes" },
          { value: :no, label: "No" },
        ] %>
    <% end %>
    <script>
      $(".form-card__title").attr("data-intro", "94% of users opted into receiving text messages. Although this pilot only used the numbers for surveys, there is a huge potential to send notices and reminders via texts.").attr("data-position", "left")
    </script>
<% end %>
