<% content_for :form_card do %>
    <div class="form-card">
      <div class="form-card__title text--centered">
        <h2>Welcome! Here’s how reporting a change works:</h2>
      </div>
      <div class="form-card__content text--centered">
        <div class="vertical-steps">
          <div class="vertical-steps__step">
            <div class="emoji emoji--med emoji--memo"></div>
            <p class="text--small with-padding-small">Fill out a form about the job that ended and provide proof.</p>
          </div>
          <div class="vertical-steps__step">
            <div class="emoji emoji--med emoji--card-file-box"></div>
            <p class="text--small with-padding-small">The county reviews your case and figures out if your benefits need to change.</p>
          </div>
          <div class="vertical-steps__step">
            <div class="emoji emoji--med emoji--envelope-with-arrow"></div>
            <p class="text--small with-padding-small">You get a letter in the mail telling you if your benefits will change.</p>
          </div>
        </div>
      </div>
      <div class="form-card__footer">
        <%= render "shared/next_step", button_label: "Start the form" %>
      </div>
    </div>

    <div class="progress-indicator">
      <div class="progress-indicator__bar" style="width:10%"></div>
      <div class="progress-indicator__percentage">10% complete</div>
    </div>
<% end %>
