<% content_for :card_title, '<span data-intro="Clients may think that submitting a report will result in an instant change to their benefits. Briefly explain the process up front." data-position="left">Welcome! Here’s how reporting a change works:</span>'.html_safe %>

<% content_for :card_body do %>
  <%= render "shared/how_it_works" %>
<% end %>

<% content_for :card_footer_button_label, "Start the form" %>
