.illustration--co_cdhs {
  @include retina-bg(co_cdhs, 100% auto);
  width: 214px;
  height: 110px;
  margin-left: 0;
  margin-top: 1em;
}

.illustration--safety {
  @include retina-bg(safety, 100% auto);
  width: 18px;
  height: 22px;
  margin-top: 2px;
}
