<% content_for :form_card_title, "Please read your Rights and Responsibilities
" %>

<% content_for :form_card_body do %>
    <div class="textwell">
      <section class="legal textwell__content">
        <p>
          By completing and signing the State of Colorado Application for Public Assistance and other documents required to determine whether I'm eligible for public assistance benefits AND by accepting benefits that I am eligible to receive, I understand the following information and agree to the following requirements:
        </p>
        <ul class="list--bulleted">
          <li>I must tell the truth; it is a crime to lie on this application.</li>
          <li>I may have to give papers that show what I've told you is true.</li>
          <li>I must tell you of any changes in money I get.</li>
          <li>I must tell you of any changes to the information I gave you on my application.</li>
          <li>If I think you made a mistake, I can ask for an appeal or fair hearing.</li>
          <li>This institution is prohibited from discriminating on the basis of race, color, national origin,
            disability, age, sex and in some cases religion or political beliefs.</li>
        </ul>
        <p>
          The U.S. Department of Agriculture also prohibits discrimination based on race, color, national origin, sex, religious creed, disability, age, political beliefs or reprisal or retaliation for prior civil rights activity in any program or activity conducted or funded by USDA.
        </p>
        <p>
          Persons with disabilities who require alternative means of communication for program information (e.g. Braille, large print, audiotape, American Sign Language, etc.), should contact the Agency (State or local) where they applied for benefits. Individuals who are deaf, hard of hearing or have speech disabilities may contact USDA through the Federal Relay Service at (800) 877-8339. Additionally, program information may be made available in languages other than English.
        </p>
        <p>
          To file a program complaint of discrimination, complete the USDA Program Discrimination Complaint Form, (AD-3027), found online at: <a href="http://www.ascr.usda.gov/complaint_filing_cust.html">http://www.ascr.usda.gov/complaint_filing_cust.html</a>, and at any USDA office, or write a letter addressed to USDA and provide in the letter all of the information requested in the form. To request a copy of the complaint form, call (866) 632-9992. Submit your completed form or letter to USDA by:
        </p>
        <p>
          (1) mail: U.S. Department of Agriculture Office of the Assistant Secretary for Civil Rights 1400 Independence Avenue, SW Washington, D.C. 20250-9410
        </p>
        <p>
          (2) fax: (202) 690-7442; or
        </p>
        <p>
          (3) email: program.intake@usda.gov.
        </p>
        <p>
          For any other information dealing with Supplemental Nutrition Assistance Program (SNAP) issues, persons should either contact the USDA SNAP Hotline Number at (800) 221-5689, which is also in Spanish or call the State Information/Hotline Numbers (click the link for a listing of hotline numbers by State); found online at: <a href="http://www.fns.usda.gov/snap/contact_info/hotlines.htm">http://www.fns.usda.gov/snap/contact_info/hotlines.htm</a>.
        </p>
        <p>
          To file a complaint of discrimination regarding a program receiving Federal financial assistance through the U.S. Department of Health and Human Services (HHS), write: HHS Director, Office for Civil Rights, Room 515-F, 200 Independence Avenue, S.W., Washington, D.C. 20201 or call (202) 619-0403 (voice) or (800) 537-7697 (TTY).
        </p>
        <p>This institution is an equal opportunity provider.</p>
        <ul class="list--bulleted">
          <li>The department will tell you if your benefits change.</li>
          <li>The department will take back any benefits you should not have received.</li>
        </ul>
        <p>
          I understand that in order to receive Food Assistance, certain members of the household need to register for work. This means that certain members of the household must:
        </p>
        <ol class="list--numbered">
          <li>Report to the Employment First (work program) when the Food Assistance office schedule you for an appointment.</li>
          <li>Comply with the instructions the Employment First (work program) gives you, including reporting for all scheduled appointments and following through on the written agreements you sign.</li>
          <li>Provide information to the Food Assistance office or the Employment First (work program) about any jobs you get while you are on Food Assistance.</li>
          <li>Tell the Food Assistance office or Employment First (work program) if you are not able to work you will be asked to provide verification; work any Workfare Hours you are assigned; go to job interviews arranged for you.</li>
        </ol>
        <p>
          If you do not do what you are assigned to do, you may be disqualified from receiving Food Assistance
          benefits. If you are an adult between the ages of 18 and 49, with no children under the age of 18 in
          your Food Assistance household, you will only be able to get Food Assistance benefits for three
          months during the next three years unless: You work in a job 80 hours each month and report that
          information to Employment First (work program); or you work your assigned hours in your county’s
          Employment First (work program), including workfare; or The Employment First (work program), or
          you are determined to be physically or mentally unable to work, or the Food Assistance office tells
          you that you are exempt. As long as you do one of these activities each month, you will be able to
          receive Food Assistance benefits if you are otherwise eligible.
        </p>
        <p>I must give the department all needed proof and documents before qualifying for benefits.</p>
        <p>If there is an absent parent(s) from my home and I am applying for Health First Colorado (Colorado
          Medicaid), I must seek medical support from the absent parent(s). I may contact Child Support
          Enforcement for assistance.</p>
        <p>I am responsible for paying fees and co-payments for myself and my family if they are required for
          Medical Assistance benefits.</p>
        <p>
          If enrolled in Health First Colorado (Colorado Medicaid) and other insurance is paying for medical
          care, Health First Colorado (Colorado Medicaid) will pay last.
        </p>
        <p>
          The information I give on the application and in the application interview is confidential. But, the
          department can use or share the information with other program(s) that any of my family members
          are getting or are applying. The information can only be used for purposes of treatment, payment,
          determining eligibility, and other program and administrative operations, or other purposes permitted
          by law for my family members or me.
        </p>
        <p>
          It is a crime to lie on the application or to take benefits that I know that my family and I are not eligible
          to receive and I may be subject to criminal prosecution for knowingly providing false
          information. <strong>Giving false information may be punished by a fine of up to $250,000 or a jail term
          of up to 20 years, or both.</strong>
        </p>
        <p>
          <strong>A person found to have intentionally given false information cannot get food assistance
          and/or Colorado Works/TANF for 12 months for the first offense, 24 months for the second
            offense, and permanently for the third offense.</strong> A court can also stop a person from getting food
          assistance for another eighteen months. This crime is subject to prosecution under other federal
          laws. <strog>Receiving duplicate benefits of food assistance by lying about identity or residence will
          be a 10-year disqualification.</strog>
        </p>
        <p>
          <strong>The department will notify me in writing of how and when to tell the department of any
          changes.</strong>
        </p>
        <p>
          If I do not tell the truth on my application or if information is left off of the application, or if I do not
          report changes to the department, as required, I may lose my assistance, and I may have to pay the
          department for the assistance received when I was not eligible, including Medical Assistance received
          and medical premium payments. Income tax refunds the persons on my application and I might get,
          may be taken to pay back money to the department.
        </p>
        <p>
          The law says the department must check the immigration status and citizenship for anyone who is
          applying. They will not check immigration status of family members who are not applying for benefits.
          I may be requested to verify proof of non-citizen registration documentation received from the United
          States Citizen and Immigration Service (USCIS) for every non-citizen member in my house who is
          applying for benefits. The department will verify information with USCIS and any information received
          from USCIS may affect my eligibility and benefits. Federal law (Public Law 97-98) requires me to give
          the department the Social Security number and/or alien registration number of all persons who are
          applying for public assistance. I must also provide the Social Security number and/or alien registration
          number for all sponsors. <strong>For medical assistance and adult financial programs, sponsor
          information will be verified with USCIS and the information received from USCIS may affect
          sponsor repayment for my eligibility and benefits. My sponsor is responsible for reimbursing
          the state for benefits I receive.</strong>
        </p>
        <p>
          I do not have to be a U.S. citizen to apply for assistance. Both U.S. citizens and qualified non-citizens
          may be eligible for Medical Assistance. Please do not let the fear about immigration status stop you
          from seeking benefits for your family. Receiving Medical Assistance will not stop you from gaining
          lawful permanent residence or U.S. citizenship.
        </p>
        <p>
          If I am a resident of an institution and jointly applying for SSI and food assistance prior to leaving the
          institution, the filing date of the application is my date of release from the institution. Processing time
          will begin from the date the application is received in the food assistance office.
        </p>
        <p>
          Privacy Act Information: The Department is authorized to collect information on the application,
          including Social Security numbers and will confirm information that may affect initial or ongoing
          eligibility and payments for all persons listed on my application. <strong>I am allowing the Department to
          use Social Security numbers and other information from my application to request and receive
          information or records to confirm the information in my application.</strong> Food assistance will be
          denied to individuals that do not provide a Social Security number, and Social Security numbers will
          be used and disclosed in the same manner for both eligible and ineligible members. <strong>I release the
          department from all liability for sharing this information with other agencies for this
          purpose.</strong> For example, the department may get and share information with any of the following
          agencies: Social Security Administration; Internal Revenue Service; United States Customs and
          Immigration Services; Colorado Department of Labor and Employment; Financial institutions (banks,
          savings and loans, credit unions, insurance companies, etc.); child support enforcement agencies;
          employers; courts; and other federal or state agencies; and for food assistance, law enforcement
          officials for the purposes of apprehending persons fleeing to avoid the law.
        </p>
        <p>
          If a food assistance over payment occurs against my household, the information on this application,
          including all Social Security numbers, may be referred to Federal and State agencies, as well as
          private claims collection agencies for claims collection action.
        </p>
        <p>
          The EBT (or Quest) card is used to pay me most of my public assistance benefits. I cannot trade or
          sell EBT cards or use, or have in my possession, EBT cards that are not mine and I cannot let
          someone else use my EBT card.
        </p>
        <p>
          If I think the department made a mistake, I can ask for a Fair Hearing. The department will tell me in
          writing how to make an appeal. I may request an appeal for any action on any program except for the
          CHP+ program.
        </p>
        <p>
          If I think the CHP+ program made a mistake, I can ask for an appeal. CHP+ tells me about how to
          make an appeal in writing.
        </p>
        <p>
          I cannot use food assistance benefits to buy nonfood items, such as alcohol or cigarettes, or to pay
          on credit accounts. <strong>A person found guilty of using food assistance to illegally purchase
          controlled substances shall be disqualified for two years for a first offense and permanently
          for a second offense. Individuals found by a Federal, State, or local court to have used or
          received benefits in a transaction involving the sale of firearms, ammunition, or explosives
          shall be permanently ineligible to receive food assistance upon the first occasion of such
          violation. An individual convicted by a Federal, State, or local court of having trafficked
          benefits for an aggregate amount of $500 or more shall be permanently ineligible to receive
          food assistance upon the first occasion of such violation.</strong>
        </p>
        <p>

          <em>I will immediately notify the State of any medical claim or lawsuit I have. I will cooperate with the State in
            collecting the medical bills the State has paid. The State may collect from any insurance company or court
            settlement for medical bills that the State has paid. If I am on Medical Assistance and receive money for
            the same medical bills that the State has paid, I will give the money to the State. I assign to the State all
            rights to payment for medical expenses and treatment. I also assign my right to appeal a denial of benefits
            by another party responsible for payment for the benefits to the State.</em>
        </p>
        <p>
          If I do not report and provide proof of rent, mortgage, housing fees, property insurance, property
          taxes, court ordered child support payments, child or adult care, and medical expenses paid by
          elderly or disabled members, I am stating that I do not want that specific deduction used to determine
          my food assistance benefit amount.
        </p>
        <p>
          <strong>Domestic violence</strong> information and services are available to me. If I ever feel I am in immediate
          danger I will call 911. If I would like to receive information regarding safety and services in Colorado, I
          will call the Colorado Coalition Against Domestic Violence at 303-831-9632 or toll free at 1-888-778-
          7091. I may also find the location of services near me by going to <a href="https://www.colorado.gov/cdhs/domestic-violence">Domestic violence</a>. The National
          Domestic Violence Hotline at 1-800-799-SAFE (7233) or TTY 1-800-787-3224 or ndvh.org can also
          provide information. If I am a survivor of domestic violence, sexual assault, or stalking the Address
          Confidentiality Program (ACP) can provide me with a legal substitute address to use instead of my
          real address for use with state and local government agencies. I can find out more about ACP at
          acp.colorado.gov. If I need or receive either of these services I will tell my department worker.
        </p>
      </section>
    </div>
<% end %>

<% content_for :progress_indicator_percentage, "90" %>
