<% content_for :form_card_title, "Do you have proof of this change?" %>

<% content_for :form_card_body do %>
  <p>
    The county needs to verify your income. The best ways to prove this are:
  </p>
  <ul class="list--bulleted">
    <li>A paycheck labeled “final”</li>
    <li>A letter from your old employer</li>
  </ul>

  <div class="reveal">
    <p><a href="#" class="reveal__link">What type of letter?</a></p>
    <div class="reveal__content text--left">
      <div class="notice">
        <p>It would be helpful for the letter to:</p>
        <ul class="list--bulleted">
          <li>Say you don’t work there any more</li>
          <li>Say what your last day of work was</li>
          <li>Say the day of your last pay check</li>
          <li>Be on letterhead</li>
        </ul>
      </div>
    </div>
  </div>

  <p>
    If you don’t have this, we’ll work with you to find other ways to prove this change.
  </p>
<% end %>

<% content_for :progress_indicator_percentage, "50" %>
