<footer class="main-footer">
  <div class="grid">
    <div class="grid__item">
      <p class="text--small">
        This is a service delivered by Code for America on behalf of the people of Colorado.
      </p>
    </div>
  </div>
</footer>