<footer class="main-footer">
  <div class="grid">
    <div class="grid__item">
      <p class="text--small">
        This is a service delivered by <%= link_to "Code for America", "https://www.codeforamerica.org/" %> on behalf of the people of Colorado.
      </p>
      <p class="text--small">
        Contact us at <a href="mailto:integratedbenefits@codeforamerica.org">integratedbenefits@codeforamerica.org</a> for more information.
      </p>
    </div>
  </div>
</footer>