<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <h1 class="main-header__title">
        <%= link_to "ReportChangesColorado.org", root_path, class: "main-header__logo" %>
      </h1>
    </div>
  </div>
</header>