<div class="emoji emoji--med emoji--memo"></div>
<p class="text--small with-padding-small" ><span data-intro="Clients may think that submitting a report will result in an instant change to their benefits. Briefly explain the process up front." data-position="left">You’ll fill out a form about the change and provide proof.</span></p>