<div class="emoji emoji--med emoji--woman-office-worker"></div>
<p class="text--small with-padding-small">The <strong>county reviews</strong> your case and figures out if your benefits need to change.</p>