<div id="progress" data-intro="The progress bar shows how long is left in the flow. This gives clients an understanding of how much longer it will take, as well as giving a sense of completion." data-position="right" class="progress-indicator">
  <div class="progress-indicator__bar" style="width:<%= local_assigns[:progress_indicator_percentage] %>%"></div>
  <div class="progress-indicator__percentage"><%= local_assigns[:progress_indicator_percentage] %>% complete</div>
</div>