<div class="progress-indicator">
  <div class="progress-indicator__bar" style="width:<%= local_assigns[:progress_indicator_percentage] %>%"></div>
  <div class="progress-indicator__percentage"><%= local_assigns[:progress_indicator_percentage] %>% complete</div>
</div>