<div id="progress" data-intro="Progress bars let clients know how long it will take, as well as give a sense of completion." data-position="right" class="progress-indicator">
  <div class='tooltip tooltip-toggle tooltip-toggle--right' data-number='4' title='Progress bars let clients know how long it will take, as well as give a sense of completion.'>4</div>
  <div class="progress-indicator__bar" style="width:<%= local_assigns[:progress_indicator_percentage] %>%"></div>
  <div class="progress-indicator__percentage"><%= local_assigns[:progress_indicator_percentage] %>% complete</div>
</div>