<% content_for :card_title, t(self_or_other_member_translation_key(".title")) %>

<% content_for :card_body do %>
    <p><%= t(self_or_other_member_translation_key(".submit_agreement"), full_name: current_change_report.member.full_name) %></p>

    <%= fields_for(:form, @form, builder: CfaFormBuilder) do |f| %>
      <%= f.cfa_input_field :signature, "Type your full legal name" %>
    <% end %>
<% end %>

<% content_for :card_footer_button_label, "Sign and submit" %>
