<% content_for :card_title, "Would you like a copy of this change report?" %>

<% content_for :card_help, "We can send you a copy for your records." %>

<% content_for :card_body do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.cfa_input_field :email, "What is your email address?", optional: true, type: :email %>
  <% end %>

  <script>
    $(".form-card__title").attr("data-intro", "Give clients the opportunity to save reports for their records. 76% of users requested a copy.").attr("data-position", "left");
    $("<div class='tooltip tooltip-toggle' data-number='1' title=\"Give clients the opportunity to save reports for their records. 76% of users requested a copy.\">1</div>").insertBefore($(".form-card__title"));
  </script>
<% end %>
