class <%= model.camelcase %>Controller < FormsController
  <%- if options.doc? -%>
  # Specify under what conditions controller should be accessible:
  <%- end -%>
  def self.show?(change_report)
    # change_report.stable_housing?
  end

  private

  <%- if options.doc? -%>
  # Assign any existing attributes, for showing previously submitted information:
  <%- end -%>
  def existing_attributes
    {}
  end
end
