<% content_for :card_title, t(self_or_other_member_translation_key(".title"), name: current_report.current_member.first_name) %>

<% content_for :card_body do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.cfa_date_select :last_day,
                          t(self_or_other_member_translation_key(".last_day")),
                          help_text: "Estimate if you're not sure.",
                          options: { start_year: Time.now.year, end_year: Time.now.year - 3 } %>
    <%= f.cfa_date_select :last_paycheck,
                          t(self_or_other_member_translation_key(".last_paycheck")),
                          help_text: "Estimate if you're not sure.",
                          options: { start_year: Time.now.year, end_year: Time.now.year - 3 } %>
    <%= f.cfa_input_field :last_paycheck_amount,
                          t(self_or_other_member_translation_key(".last_paycheck_amount")),
                          classes: ["form-width--phone"],
                          prefix: "$",
                          optional: true %>
  <% end %>
  <script>
    $("#form_last_day_month").val("1")
    $("#form_last_day_day").val("1")
    $("#form_last_day_year").val("2019")
    $("#form_last_paycheck_month").val("1")
    $("#form_last_paycheck_day").val("1")
    $("#form_last_paycheck_year").val("2019")

    $(".text--help:first").css("color","white").attr("data-intro","Caseworkers need certain data to make case determinations. But requiring exact information may result in clients not being able to complete the change report. Allow estimates when possible.").attr("data-position","left");
    $("<div class='tooltip tooltip-toggle' data-number='1' title=\"Caseworkers need certain data to make case determinations. But requiring exact information may result in clients not being able to complete the change report. Allow estimates when possible.\">1</div>").insertBefore($(".text--help:first"));

    $(".form-question:last").attr("data-intro","Make as many questions optional as possible. In some scenarios, it's better to kick off the process with incomplete information than to require a complete report up front.").attr("data-position","right");
    $("<div class='tooltip tooltip-toggle' data-number='2' title=\"Make as many questions optional as possible. In some scenarios, it's better to kick off the process with incomplete information than to require a complete report up front.\">2</div>").insertBefore($(".form-group:last"));
  </script>
<% end %>