<% content_for :card_title, "What changed?" %>
<% content_for :card_help, "You can add additional changes later." %>

<% content_for :card_body do %>
    <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
        <%= f.cfa_radio_set :selected_change_type,
          collection: [
            { value: :job_termination, label: "A job ended or someone stopped working" },
            { value: :new_job, label: "A new job" },
            { value: :change_in_hours, label: "Someone's hours or pay changed" },
            ],
          label_text: "What changed?",
          legend_class: "sr-only"
           %>
    <% end %>
    <script>
      $("#form_selected_change_type_job_termination").attr('checked', true).parent().attr("data-intro", "Choose this one to continue the demo.").attr("data-position","left")
      $("<div class='tooltip tooltip-toggle' data-number='1' title='Choose this one to continue the demo.'>1</div>").insertBefore($("#form_selected_change_type_job_termination"));
    </script>
<% end %>
