<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Supervisor or manager's name
    </p>
    <span class="value">
      <%= @change_report.manager_name %>
    </span>
  </div>
  <div class="column one-of-two">
    <p class="label">
      Supervisor or manager's phone number
    </p>
    <span class="value">
      <%= @change_report.manager_phone_number %>
    </span>
  </div>
</div>
