<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Supervisor or manager's name
    </p>
    <%= render partial: 'change_reports/value_or_no_response', locals: { value: @change_report.manager_name } %>

  </div>
  <div class="column one-of-two">
    <p class="label">
      Supervisor or manager's phone number
    </p>
    <%= render partial: 'change_reports/value_or_no_response', locals: { value: @change_report.manager_phone_number } %>
  </div>
</div>
