<% content_for :card_title, "<span data-intro='Clients often submit changes on behalf of their household members.' data-position='left'>Who had this change?</span>".html_safe %>

<% content_for :card_body do %>
    <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
      <%= f.cfa_radio_set :new_or_existing_member,
                          label_text: "Who had this change?",
                          legend_class: "sr-only",
                          collection: who_had_change_collection %>
    <% end %>

    <script>
        $("#form_new_or_existing_member_new_submitter").attr("checked", "true").parent().attr("data-intro", "Choose this one to continue the demo.").attr("data-position", "left").css("color","black")
    </script>
<% end %>