<% content_for :card_title, "Who had this change?" %>
<% content_for :card_body do %>
    <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
      <%= f.cfa_radio_set :new_or_existing_member,
                          label_text: "Who had this change?",
                          legend_class: "sr-only",
                          collection: who_had_change_collection %>
    <% end %>

    <script>
        $("#form_new_or_existing_member_new_submitter").attr("checked", "true")
        $("<div class='tooltip tooltip-toggle' data-number='1' title=\"Clients often submit changes on behalf of their household members.\">1</div>").insertBefore($(".form-card__title"));
    </script>
<% end %>