<% content_for :card_title, "Tell us about the new job." %>

<% content_for :card_body do %>
  <%= fields_for(:form, @form, builder: CfaFormBuilder) do |f| %>
    <%= f.cfa_input_field :company_name, "What is the name of the company?" %>

    <div class="notice">The following questions are optional, but they'll help the county verify your change. Try to answer them.</div>

    <%= f.cfa_input_field :manager_name,
                          t(self_or_other_member_translation_key(".manager_name"), name: current_change_report.member.first_name),
                          help_text: t(self_or_other_member_translation_key(".manager_name_help")),
                          optional: true %>
    <%= f.cfa_input_field :manager_phone_number,
                          t(self_or_other_member_translation_key(".manager_phone_number")),
                          classes: ["form-width--phone"],
                          help_text: "You can provide a general phone number if you don’t know a direct line.",
                          optional: true %>
  <% end %>
<% end %>
