<div class="doc-preview">
    <div class="doc-preview__info">
        <h4>{{filename}}</h4>
    </div>
    <div class="doc-preview__thumb">
        <img src="/rails/active_storage/blobs/{{signed_id}}/{{filename}}">
    </div>
</div>
