/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chardinjs
 *= require tooltipster.bundle.min
 *= require plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min
 */

// Chardin
.shrunk-overlay {
  position: static !important;
}

#annotation-btn {
  position:fixed;
  top: 65px;
  right: 15px;
  z-index: 9999;
}

.annotate-float {
  z-index: 999;
}

.chardinjs-tooltiptext {
  font-size: 16px;
  line-height: 1.5;
  color: #8F00AD;
  font-style: italic;
}

.chardinjs-helper-layer {
  border-color: #8F00AD !important;
}

.chardinjs-right:before, .chardinjs-bottom:before, .chardinjs-left:after, .chardinjs-top:after {
  background-color: #8F00AD !important;
}

.chardinjs-show-element {
  opacity: unset;
}

.white-annotate {
  color: white;
}

.white-annotate-bars:before, .white-annotate-bars:after {
  background-color: white !important;
}

.white-annotate-helper-bars {
  border-color: white !important;
}

.tooltip-toggle {
  opacity: 0.7;
  z-index: 99;
  position: absolute;
  margin-top: -25px;
  margin-left: -20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px dashed #990000;
  background-color: #8F00AD;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  user-select: none;
}

.tooltip-toggle--right {
  right: 15%;
}

.tooltipster-sidetip.tooltipster-light .tooltipster-box {
  border-color: black;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: black;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-left .tooltipster-arrow-border {
  border-left-color: black;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-right .tooltipster-arrow-border {
  border-right-color: black;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-top .tooltipster-arrow-border {
  border-top-color: black;
}

.tooltipster-sidetip.tooltipster-light .tooltipster-content {
  line-height: 24px;
}

@import 'cfa_styleguide_main';
@import 'overrides';
@import 'custom';

// Atoms
@import 'atoms/illustrations';
