.template--homepage {
  @for $i from 1 through 3 {
    .slab--hero-#{$i} {
      &:before {
        background-image: image-url('hero-#{$i}-mobile');
        @include media($mobile-up) {
          background-image: image-url('hero-#{$i}-landscape');
        }
      }
    }
  }

  .slab--hero {
    min-height: 450px;

    @include media($tablet-up) {
      min-height: 600px;
    }
  }

  .hero--cta-options {
    background: rgba(shade($color-dark-grey, 80%), .6);
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.slab--off-white {
  background-color: #FAFAF9;
}

// _emojis.scss
.emoji--memo {
  background-image: image-url('emojis/memo.svg');
}

.emoji--card-file-box {
  background-image: image-url('emojis/card-file-box.svg');
}

.emoji--envelope-with-arrow {
  background-image: image-url('emojis/envelope-with-arrow.svg');
}

.emoji--party-popper {
  background-image: image-url('emojis/party-popper.svg');
}

.emoji--white-heavy-check-mark {
  background-image: image-url('emojis/white-heavy-check-mark.svg');
}

// _utilities.scss
.center {
  text-align: center;
}

.top-full-border {
  margin-left: -40px;
  margin-right: -40px;
  padding-top: 40px;
  border-top: 2px solid $color-light-grey;
}

// _form-molecules.scss
.feedback-survey__form {
  textarea {
    max-width: 400px;
  }
}

// MichiganBenefits _base.scss
.dark-background {
  background-color: $color-darkest-grey;
}

.verification-upload-icon {
  background-image: image-url('verification-upload-icon.png');

  display: inline-block;
  text-indent: -9999px;
  height: 12em;
  width: 12em;
  content: '';
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
}
