.template--homepage {
  margin-bottom: 150px;

  .slab--hero {
    background: none;

    h1 {
      font-size: $font-size-h2;
      font-weight: 600;
      line-height: $line-height-display;
      margin-bottom: .5em;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .main-footer {
    height: inherit;
  }
}

.form-card {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.form-group:last-of-type {
  margin-bottom: 3em;
}

.dark-background .form-card__footer {
  border-top-color: $color-darkest-grey;
}

.dark-background .form-card__header {
  border-bottom-color: $color-darkest-grey;
}