.template--homepage {
  margin-bottom: 150px;

  .slab--hero {
    background: none;

    h1 {
      font-size: $font-size-h2;
      font-weight: 600;
      line-height: $line-height-display;
      margin-bottom: .5em;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .main-footer {
    height: inherit;
  }
}

.card {
  max-width: 72rem;
}

.card--transition .card__header .card__title{
  max-width: 57rem;
  margin-bottom: .5em;
}

.button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

@media screen and (min-width: 601px) {
  .slab.is-tablet-hidden--inline {
    display: block !important;
  }
}

// Fixes CSS when .group fieldsets included with divs (accessibility)
.group:last-of-type {
  margin-bottom: 3em;
}

.group:last-child {
  margin-bottom: 0;
}

.question-with-follow-up__follow-up {
  margin-top: 1em;
}

.main-footer {
  a {
    color: white;
  }
}
