.pdf {
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.1em;

  .divider {
    margin-top: 40px;
    border-bottom: 5px solid black;
  }

  .label {
    font-weight: 800;
  }

  .value {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    min-height: 28px;
  }

  h1 {
    font-size: 2.3rem;
    line-height: 1em;
    font-weight: 800;
  }

  .row {
    width: 100%;
  }

  .column {
    display: inline-block;
    margin-right: 30px;

    &.one-of-one {
      width: 89%;
    }

    &.one-of-two {
      width: 40%;
    }

    &.one-of-four {
      width: 20%;
    }

    &.three-of-four {
      width: 65%;
    }
  }

  div.alwaysbreak {
    page-break-before: always;
  }
}
