.pdf {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1em;

  .divider {
    margin: 40px 0;
    border-bottom: 5px solid black;
  }

  .label {
    font-weight: 800;
    display: inline-block;
    border: 1px solid #D8D8D8;
    padding: 10px 10px 0px 10px;
    width: 100%;
    min-height: 28px;
    background-color: #D8D8D8;
    margin-bottom: 0;
  }

  .value {
    display: inline-block;
    border: 1px solid #D8D8D8;
    padding: 10px 10px 0px 10px;
    width: 100%;
    min-height: 28px;
  }

  h1 {
    font-size: 2.3rem;
    line-height: 1em;
    font-weight: 800;
  }

  .row {
    width: 100%;
  }

  .column {
    display: inline-block;
    margin-right: 20px;

    &.one-of-one {
      width: 97.5%;
    }

    &.one-of-two {
      width: 47.3%;
    }

    &.one-of-four {
      width: 22.3%;
    }
  }

  div.alwaysbreak {
    page-break-before: always;
  }

  .italics {
    font-style: italic;
  }

  .cover-sheet {
    padding-top: 300px;
  }

  .page-break {
    display:block;
    clear:both;
    page-break-after:always;
  }

  table {
    table-layout: fixed;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-collapse: collapse;
  }

  td {
    border: 1px solid #D8D8D8;
    padding: 10px;
  }

  thead tr td:first-of-type {
    font-weight: 800;
    background-color: #D8D8D8;
  }

  tr td:first-of-type {
    font-weight: 800;
  }
}
