<% content_for :card_title, "Do you have any other changes to report?" %>

<% content_for :card_body do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
  <%= f.cfa_radio_set :any_other_changes,
    label_text: "Do you have any more changes to report?",
    legend_class: "sr-only",
    collection: [
      { value: :yes, label: "Yes" },
      { value: :no, label: "No" },
    ] %>
  <% end %>

  <% current_report.reported_changes.each do |change| %>
    <p>
      <i class="icon-check"></i>
      <%= t(self_or_other_member_translation_key(".reported", passed_in_member: change.member), name: change.member&.full_name, change: change.name) %>
    </p>
  <% end %>
  <script>
    $(".form-card__title").attr("data-intro", "Allow clients to report multiple changes at once. Changes often happen in clusters.").attr("data-position", "left")
    $("<div class='tooltip tooltip-toggle' data-number='1' title=\"Allow clients to report multiple changes at once. Changes often happen in clusters.\">1</div>").insertBefore($(".form-card__title"));
    $(".icon-check").parent().attr("data-intro", "Show the client which steps they have already completed.").attr("data-position", "left");
    $("<div class='tooltip tooltip-toggle' data-number='2' title=\"Show the client which steps they have already completed.\">2</div>").insertBefore($(".icon-check"));
    $("#form_any_other_changes_no").attr("checked", "true");

  </script>
<% end %>
