<% content_for :card_title, "Sorry, you'll need to report your change a different way." %>
<% content_for :card_help, "You can submit your change through Colorado PEAK. You can also call or visit your county Department of Human Services office." %>

<% content_for :card_body do %>
  <div class="nudge--med with-padding-small">
    <%= link_to "Go to PEAK", "https://coloradopeak.secure.force.com/", class: 'button button--full-mobile button--primary' %>
  </div>
  <div>
    <%= link_to "Find my county office", "https://www.colorado.gov/pacific/cdhs/contact-your-county", class: 'button button--full-mobile button--primary' %>
  </div>
<% end %>
