<% content_for :form_card do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header">
      <h1 class="form-card__title">You should wait until you get your first paycheck to report this job.</h1>
    </div>
    <div class="form-card__content">
      <p>Make sure you get a copy of your paystub showing your <strong>pre-tax</strong> earnings. Don’t worry, you have 10 days after your first paycheck to report a new job.</p>
    </div>
  </div>
<% end %>
