<div class="row">
  <div class="column one-of-four">
    <p class="label">
      Date of change
    </p>
    <span class="value">
      <%= change.change_date %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Wage
    </p>
    <span class="value">
      <%= change.hourly_wage %>
    </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Pay frequency
    </p>
    <span class="value">
      <%= change.paid_how_often %>
    </span>
  </div>
</div>

<div class="row">
  <div class="column one-of-four">
    <p class="label">
      New hours per week (range)
    </p>
    <span class="value">
      <%= change.change_in_hours_hours_a_week %>
    </span>
  </div>
</div>
