<table>
  <thead>
    <tr>
      <td>Job Details</td>
      <td></td>
    </tr>
  </thead>
  <tr>
    <td>Employer name</td>
    <td><%= change.company_name %></td>
  </tr>
  <tr>
    <td>Last day of work</td>
    <td><%= change.last_day %></td>
  </tr>
  <tr>
    <td>Last paycheck</td>
    <td><%= change.last_paycheck %></td>
  </tr>
  <tr>
    <td>Final paystub amount</td>
    <% if change.last_paycheck_amount.present? %>
      <td><%= change.last_paycheck_amount %></td>
    <% else %>
      <td class="italics">no response</td>
    <% end %>
  </tr>
</table>