<div class="row">
  <div class="column one-of-four">
    <p class="label">
      Last day of work
    </p>
    <span class="value">
      <%= change.last_day&.strftime("%D") %>
    </span>
  </div>

  <div class="column one-of-four">
    <p class="label">
      Last paycheck
    </p>
    <span class="value">
      <%= change.last_paycheck&.strftime("%D") %>
    </span>
  </div>

  <div class="column one-of-two">
    <p class="label">
      Final paystub amount
    </p>
    <%= render partial: 'reports/value_or_no_response', locals: { value: number_to_currency(change.last_paycheck_amount) } %>
  </div>
</div>