<div class="row">
  <div class="column one-of-two">
    <p class="label">
      Supervisor or manager's name
    </p>
    <%= render partial: 'reports/value_or_no_response', locals: { value: manager_name } %>

  </div>
  <div class="column one-of-two">
    <p class="label">
      Supervisor or manager's phone number
    </p>
    <% if manager_phone_number.present? %>
      <span class="value">
        <%= manager_phone_number %>
      </span>
    <% else %>
      <span class="value italics">
        no response
      </span>
    <% end %>
  </div>
</div>
