<h1>Change Request Form</h1>

<%= render partial: 'reports/member_info' %>

<% @report.reported_changes.each do |change| %>
  <%= render partial: "reports/change", locals: {change: ChangeDecorator.new(change)} %>
<% end %>

<div class="row">
  <p>
    Questions or feedback on this PDF? Email us at <%= ENV["SENDING_EMAIL_ADDRESS"] %>.
  </p>
</div>