<h1 class="cover-sheet">
  <%= @change.name.capitalize %> verification documents
  <br/>
  <%= @change.member.full_name %>
</h1>
<h2>
  <%= pluralize(@change.documents.count, 'document') %>
</h2>
<div class="divider"></div>